.upper-black {
    display: flex;
    align-items: center;
    color: var(--white); 
    height: 40px;
    padding: 0 20px;
    background-color: var(--neutral00); 
    border: 1px none;
    position: relative;
}

.main-white {
    display: flex;
    align-items: center;
    background-color: var(--white); 
    height: 60px;
    border: 1px solid;
    border-color: var(--white); ;
    padding: 12px;
}

.hidden{
    visibility: hidden; 
    /* Search bar is hidden until functionality is applied */
}

.search-bar {
    align-items: center;
    background-color: var(--white); 
    border: 1px solid var(--neutral09); ;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    position: relative;
    width: 500px;
    margin-left: 250px;
    margin-right: 24px;
    height: 25px;
}

.search-input {
    flex: 1; 
}

.search-input ::placeholder{
    color: var(--neutral05); 
}

.search-input input {
    width: 100%; 
    border: none; 
    outline: none; 
}

.search-img img {
  width: 20px;
  height: 20px;
}

.search-bar .search-img {
    flex: 0 0 auto;
    position: relative;
}

.logo img{
    height: 56px;
    left: 0;
    object-fit: cover;
    width: 163px;
    position: relative; 
    top: -2px; 
    left:156px;
}

.social-media-icons {
    display: flex; 
    align-items: center; 
    position: relative;
    left:110px; 
}

.social-media-icons .facebook img{
    margin-right: 10px; 
    height: 24px;
    width: 24px;
}

.social-media-icons .instagram img{
    margin-right: 10px; 
    height: 26px;
    width: 26px;
    
}

.social-media-icons .twitter img{
    margin-right: 10px; 
    height: 26px;
    width: 26px;
}

.menu a{
    height: 24px;
    text-decoration: none; 
    color: var(--neutral00);  
}

.menu {
    display: flex;
    gap: 30px; 
}

.user-info{
     display: flex;
     gap: 24px; 
     margin-left:900px;
}

.user-info a{
    color:var(--white); 
    font-size: 14px;
    text-decoration: none;
}

.user-info span{
    color: var(--neutral05); ;
    font-size: 14px;
}

.centered-logo .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  margin-left: 450px;
}

.hi-message {
     display: flex;
     gap: 15px; 
     margin-left:1110px;
}

.navigation {
  width: fit-content;

}

img {
  width: 20px;
  float: left;
  opacity: 90%;
}

.logout {
  font-size: .8em;
  position: relative;
  right: -10px;
  bottom: -4px;
  overflow: hidden;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.button {
  text-decoration: none;
  float: right;
  margin-top: 15px;
  color: white;
  width: 25px;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

.navigation a:hover {
  width: 100px;
}

.navigation a:hover .logout{
  opacity: .9;
}

.navigation a {
  text-decoration: none;
}
